body{
    
}
.grey{
    background-color: #F5F1F0;
     text-align: center;
}
.blue{
    background-color: lightblue;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}