body{
    background-color: aqua;
}
.about_myself{
    background-color: darkkhaki;
}
.coding-history{
    background-color: orange;
}
.companies-worked{
    background-color: greenyellow;
}
.gessing-game{
    background-color: yellow;
}
.game-confrence{
    background-color: gold;
}
.reverse-game{
    background-color: darkcyan;
}
.kupona-hostipal{
    background-color: olive;
}