body{
    
}
.text300{
    background-color: gainsboro;
}
.heading15{
    background-color: gainsboro;
}
.text200{
     background-color: gainsboro;
}
.text27{
    background-color: gainsboro;
}
.text91{
    background-color: palegoldenrod;
}
.text101{
    background-color: palegoldenrod;
}